cava/
coc/
dconf/
dolphinrc
dunst.old/
Electron/
go/
gpu_usage_waybar.toml
gtk-3.0/
htop/
irnm/
kde.org/
procps/
ronema/
session/
xfce4/
discord/
Thunar/
Slack/
spotify/
bluebubbles-desktop-app/
mozilla/
QtProject.conf
BlueMail/
gh/
Trolltech.conf
baloofilerc
discord-flags.conf
euporie/
gtkrc
gtkrc-2.0
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
ktimezonedrc
kwinoutputconfig.json
kwinrc
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasmashellrc
powermanagementprofilesrc
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
Mailspring/
libreoffice/
